@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}
body {
  background: #004395;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0px auto;
}
